<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522700433023-7e4fc1d597fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2800&q=80);">
  <div class="container">
    <h1>Happiness begins with a <strong>Cock</strong>(tail)</h1>
    <p>Check our finest selection for gay gentlemen</p>
    <a class="btn btn-outline-light" href="https://www.grindr.com/">Become a member</a>
    <%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-outline-light" %>
  </div>
</div>

<nav class="my-navbar">
  <span class="navbar-brand"></span>
</nav>

<div class="cockail-list">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <img src="https://www.theflavorbender.com/wp-content/uploads/2017/07/Magical-Color-Changing-Cocktails-The-Flavor-Bender-Featured-Image-SQ-5-500x375.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <div class="cocktail-name">
        <%= cocktail.name %>
        </div>
        <div class="button">
        <%= link_to 'Show', cocktail_path(cocktail), class: "button-sweet"%>
        <%= link_to 'Delete', cocktail_path(cocktail), method: :delete, class: "button-sweet"%>
        <%#= cl_image_tag cocktail.photo.key, width: 42, height: 42, crop: :fill if cocktail.photo.attached? %>
        </div>
      </div>
    </div>
    <% end %>
</div>

